.instruction {
	list-style: circle;
	list-style-position: inside;
}

.instruction h1 {
	font-weight: 800;
	font-size: 6vw;
    text-align: center;
    margin-bottom: 2vh;
}

.instruction li {
    list-style-type: square;
    font-weight: 400;
	font-size: 3vw;
}