* {
	overflow: hidden;
}
.app {
	/* position: fixed;     */
    height: 100vh;
}

.screen {
    height: 100vh;
	position: fixed;
	left: 8.5vw;
	top: 20vh;
	width: 45vw;
}

.instruction {
	position: fixed;
	right: 2vw;
	top: 13vh;
	width: 45vw;
}

html {
	font-family: "VT323", monospace;
}

.background {
	position: absolute;
	width: 100vw;
	height: auto;
	z-index: -10;
}
